@import url("./util.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
}

.dark {
  --background: 207 10% 13%;
  --foreground: 0 0% 88%;

  --muted: 240 3.7% 60%;
  --muted-foreground: 240 5% 60%;
}

body {
  -webkit-tap-highlight-color: transparent;
  background-color: hsl(var(--background));
  @apply transition-colors duration-500;
}

html::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(26, 26, 26);
}

html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
}

html::-webkit-scrollbar-thumb:hover {
  background: #5b5b5b;
}